body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.black-bg {
    background-color: black;
}

.pad_to_center {
 padding: 1% 0% 1% 40%;   
}

#form_div {
    display: block;
    text-align: center;
    
}